.App {
  height: 100vh;
  background-color: white;
}

.first-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
  width: 100%;
}

.second-section {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-top: 40px;
}

.bar {
  width: 70%;
}

.bar, .dough {
  border: 3px solid rgb(254,254,254);
  padding: 50px;
  box-shadow: 0px 6px 10px 0px rgba(33, 30, 67, 0.08);
}

.dough {
  width: 30%;
}

@media (max-width: 800px) {
  .second-section {
    flex-direction: column;
  }

  .bar {
    width: 100%;
  }

  .dough {
    width: 100%;
  }
}